.titulo-1{
    background-color: rgb(102, 102, 102);
    color: white;
}
.texto-1{
    background-color: antiquewhite;
    color: white;
}

.titulo-2{
    background-color: blue;
    color: rgb(255, 157, 234);
}
.texto-2{
    background-color: #44556F;
    color: #00F200;
}

.titulo-3{
    background-color: red;
    color: black;
}
.texto-3{
    background-color: #00FF4433;
    color: #fffff0;
}
.titulo-4{
    background-color: aqua;
    color: beige;
}
.texto-4{
    background-color: #000000;
    color: white;
}